/*🌈🌈🌈🌈🌈🌈🌈*/
/* Color Variables */
/*🌈🌈🌈🌈🌈🌈🌈*/

/* Background colors */
$body-background: #f2f2f2;
$main-background: white;
$section-background: #ececec;
$input-background: #ececec;
$tab-background: #eaeaea;

/* Border colors */
$medium-border: #999999;

/* Button colors */
$primary-button: rgb(191, 191, 255);
$primary-button-hover: rgb(159, 159, 255);

$secondary-button: rgb(239, 239, 175);
$secondary-button-hover: rgb(239, 239, 79);

$confirm-button: rgb(191, 255, 191);
$confirm-button-hover: rgb(143, 255, 143);

$cancel-button: rgb(255, 191, 63);
$cancel-button-hover: rgb(255, 167, 51);

$delete-button: rgb(252, 127, 127);
$delete-button-hover: rgb(255, 95, 95);

/* Miscellaneous */
$field-text: rgb(118, 118, 118); //identical to chrome color: fieldtext
