:root {
  --body-background: #f2f2f2;
  --main-background: white;
  --input-background: #e6e6e6;

  --main-button: #d1e99f;
  --primary-button: lightblue;
}

body {
  margin: 0rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--body-background);
}

.m-1 {
  margin: 4px;
}
.m-2 {
  margin: 8px;
}
.mt-1 {
  margin-top: 4px;
}
.mt-2 {
  margin-top: 8px;
}
.mt-3 {
  margin-top: 12px;
}
.mt-4 {
  margin-top: 16px;
}
.mt-8 {
  margin-top: 32px;
}
.mb-1 {
  margin-bottom: 4px;
}
.mb-2 {
  margin-bottom: 8px;
}
.mr-1 {
  margin-right: 4px;
}
.mr-2 {
  margin-right: 8px;
}
.ml-1 {
  margin-left: 4px;
}
.ml-2 {
  margin-left: 8px;
}

.clearfix {
  overflow: auto;
}

.single h2,
.single h3 {
  text-align: center;
  margin: 8px 0 0 0;
}
.single form {
  padding: 8px;
}
.single input,
.single button {
  font-size: 1rem;
  line-height: 1.5;
  display: block;
  width: 100%;
  border-radius: 0.25rem;
  padding: 0 16px;
  height: 48px;
  margin: 16px 0;
  border: none;
}
.single input {
  background: var(--input-background);
}
.single button {
  color: black;
  background: var(--main-button);
}
.single .logo {
  width: 100%;
}

.single form p {
  margin: 0;
}
.single {
  margin: 25px auto;
  max-width: 22rem;
  background: var(--main-background);
  border-radius: 10px;
  overflow: hidden;
  padding: 24px 48px;
  border: none;
}
.single .single {
  margin: 0;
  padding: 0;
}

.double h2,
.double h3 {
  text-align: center;
  margin: 8px 0 0 0;
}
.double form {
  padding: 8px;
}
.double input,
.double button {
  font-size: 1rem;
  line-height: 1.5;
  display: block;
  border-radius: 0.25rem;
  padding: 0 16px;
  height: 48px;
  margin: 16px 0;
  border: none;
}
.double input {
  background: var(--input-background);
}
.double button {
  color: black;
  background: var(--primary-button);
}
.double ul {
  width: 100%;
}
.double ul li {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.double ul li div {
  flex-grow: 1;
}
.double ul li button {
  width: 5rem;
  margin: 0.5rem;
}
.double .logo {
  width: 100%;
}

.double form p {
  margin: 0;
}
.double {
  margin: 25px auto;
  width: auto;
  max-width: 44rem;
  background: var(--main-background);
  border-radius: 10px;
  overflow: hidden;
  padding: 24px 48px;
  border: none;
  font-size: 1.5rem;
}

main h1 {
  display: none;
}

.clearfix::after {
  display: table;
  clear: both;
}
.clearfix::before {
  display: table;
}
main {
  height: 100%;
  background-color: #f2f2f2;
  border-top: 1px solid #aaa;
}

.float-left {
  float: left;
}
.float-right {
  float: right;
}
.task-creator form {
  padding-top: 32px;
}
.task-creator textarea {
  display: block;
  width: 98%;
  width: calc(100% - 8px);
  padding: 4px;
  background-color: white;
  background-repeat: no-repeat;
  background-position: right 8px center;
  border: 1px solid var(--color-border-default);
  border-radius: 6px;
  outline: none;
  box-shadow: black;
  resize: vertical;
}

.two-button {
  display: flex;
}

.two-button button {
  flex: 1;
  box-shadow: black;
  transition: 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  transition-property: color, background-color, border-color;
}

.btn-open-task-creator {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

#user-modes {
  font-size: 1.25rem;
}

#signup-link {
  font-size: 1.5rem;
  color: black;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
