header {
  height: 50px;
}

header.single {
  height: 350px;
}

#app-title {
}

#app-subtitle {
}
header.single h1 {
  display:none;
}
.logo { 
  margin-top: 8px;
  width: 125px;
  float:left;
}

.float-right { float: right; }
.float-left { float: left; }
