header {
  height: 50px;
}

#app-title {
  display: inline;
}

#app-subtitle {
}
header.single h1 {
  display: none;
}
.logo {
  margin-top: 8px;
  width: 125px;
  float: left;
}

.float-right {
  float: right;
}
.float-left {
  float: left;
}
