main {
  height:100%;
}
#project-board {
  position: relative;
  overflow-y: auto;
  display: flex;
  flex-direction: column !important;
}
#stages-panel {
  display: flex;
  width: 100%;
  overflow-x: scroll;
}

.overlay-inner {
  min-width: 355px;
  max-width: 355px;
  flex-grow: 1;
  margin: 0.5rem;
  background-color: rgb(202, 202, 202);
  border-radius: 0.5rem;
  }
.stage {
  min-width: 355px;
  max-width: 355px;
  flex-grow: 1;
  margin: 0.5rem;
  background-color: rgb(202, 202, 202);
  border-radius: 0.5rem;
  overflow-y: scroll;
  height: calc(100vh - 100px);
}

.stage-header {
  min-height: 16px;
  margin: 8px 8px 16px 8px;
}

.stage-title {
  float: left;
  margin: 0rem;
}

.btn {
  width:100%;
  padding: 4px 8px 4px 16px;
  display: block;
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  font-size: 1rem;
  text-align: left;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}
.dropdown-content ul { list-style: none; 
  padding: 0;
}


.dropdown-content li:hover, .tabrow li:hover {
  background-color: #d1e99f;
}

.tabrow li.add-project {
  border: none;
  padding: 0;
  margin: 0;
  background: none;
}
.tabrow svg { width: 100% }

.btn-stage-delete {
  display: inline;
  text-align: center;
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  padding: 0rem;
  font-size: 0.875rem;
  color: red;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}

.dropdown { position: relative; }

.dropdown-content {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  background-color: #f9f9f9;
  min-width: 160px;
  padding: 4px;
  border: 1px solid #2f353c;
  border-radius: 0.5rem;
  box-shadow: -4px 8px 24px gray;
}

.overlay {
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.33);
  display: flex;
  align-items: center;
  text-align: center;
  transition: opacity .3s;
}
.overlay-inner {
  position: absolute;
  background-color: rgb(202, 202, 202);
  width: 300px;
  left: 0;
  right: 0;
  margin: auto;
  padding: 8px;
}

.stage summary {
  list-style: none;
}
