main {
  height:100%;
}
#project-board {
  position: relative;
  overflow-y: auto;
  display: flex;
  flex-direction: column !important;
}
#stages-panel {
  display: flex;
  width: 100%;
  overflow-x: scroll;
}

.stage {
  min-width: 355px;
  max-width: 355px;
  flex-grow: 1;
  margin: 0.5rem;
  background-color: rgb(202, 202, 202);
  border-radius: 0.5rem;
  overflow-y: scroll;
  height: calc(100vh - 100px);
}

.stage-header {
  min-height: 16px;
}

.stage-title {
  float: left;
  margin: 0rem;
}

.task-creator {
  margin-top: 30px;
}
.btn-stage-settings {
  display: inline;
  text-align: center;
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  padding: 0rem;
  font-size: 1rem;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}
.btn-stage-delete {
  display: inline;
  text-align: center;
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  padding: 0rem;
  font-size: 0.875rem;
  color: red;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}

hr {
  margin: 0.125rem 0.25rem 0.25rem 0.25rem;
}
