@use "colors";

.task-editor {
  display: flex;
  flex-direction: column;
  margin: 0.5rem 0.375rem;
  border-radius: 0.5rem;
  padding: 0.25rem;
  background: colors.$secondary-button;
  z-index: 10;

  .task-editor-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;

    .task-editor-title {
      margin: 0 0.5rem 0 0.25rem;
      border: 1px solid colors.$medium-border;
      background: colors.$main-background;
    }
  }

  .task-editor-details {
    margin: 0.25rem;
    background: colors.$main-background;
    padding: 0.25rem;
  }

  .options-row {
    align-self: center;
  }
}
