#user-settings-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#btn-delete-user {
  background-color: salmon;
  border: none;
  border-radius: 0.25rem;
}
